# Dependencies
node_modules/
npm-debug.log
yarn-error.log
yarn-debug.log
package-lock.json

# Environment variables
.env

# Logs
logs/
*.log

# IDE
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# OS
.DS_Store
Thumbs.db

# Build
/dist
/build

# Test
/coverage
.nyc_output

# Temporary files
/tmp
/temp